h1{
  text-align: center;
  text-decoration: underline;
}

div{
  text-align: center;
  margin-top: 50px;
}

button{
  background-color: #7808d0;
  border: none;
  padding: 50px 50px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  color: white;
}

button:hover {
  background-color: #000;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

svg {
  width: 50px;
  height: 50px;
}
