name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./custom-tooltip-using-angular-cdk

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '22.20.0'

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.18.1

      - name: Install dependencies
        run: pnpm install

      - name: Build the project
        run: pnpm run build

      - name: Test the project
        run: pnpm test

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./dist/custom-tooltip-using-angular-cdk/browser

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v4.0.5
